::backdrop
{
  background-image: url("fantasy-wallpaper.jpg");
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* added */
  background-image: url("fantasy-wallpaper.jpg");
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.game-container {
}

.player-in-game-stats-container {
  /*border: 1px red solid;*/
  height: 10%;
}

.source-item-container {
  margin: 0 auto;
  width: 60%;
  display: flex;
}

.drag-item {
  border: 1px solid black;
  border-radius: 5px; 
  width: 95px;
  height: 125px;
  margin: 10px auto;
  padding: 5px;
  text-align: center;
}

.drag-source-item {
}
